@import url('https://fonts.googleapis.com/css?family=Niramit:300,300i,700');

/* reset some browser default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #1d8cf8;
    --secondary: #4f537b;
    --info: #11cdef;
    --success: #00bf9a;
    --warning: #ff8d72;
    --danger: #fd5d93;

    --body-bg: #121212; /* Changed to black */
    --timeline-before-bg : #222a42;
    --timeline-body-bg: #27293d;
    --timeline-body-round: 3px;
    --timeline-body-shadow: 1px 3px 9px rgba(0,0,0, .1);
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #121212;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
}

.main-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.container {
    width: 60%;
    margin: 50px auto;
    text-align: center;
}

h1 {
    font-size: 36px;
    margin-bottom: 30px;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 10px;
    width: 200px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: #212121;
    color: #FFFFFF;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}

    button:hover {
        background-color: #0056b3;
    }

#teamInfo, #treasureForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#changeTeamButton {
    margin-top: 20px;
}

/* typography */
p {
    font-weight: 300;
    line-height: 1.5;
    font-size: 14px;
    opacity: .8;
}

.timeline-container {
    width: 50%;
}

/* timeline style */
.timeline {
    position: relative;
    padding-left: 2.5rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    margin: 0 0 0 30px;
    color: white;
}
.timeline:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 4px;
    height: 100%;
    background: #27293d;
}
.timeline .timeline-container {
    position: relative;
    margin-bottom: 0.75rem;
}
.timeline .timeline-container .timeline-icon {
    position: absolute;
    left: -88px;
    top: 4px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    font-size: 2rem;
    background: #4f537b;
}
.timeline .timeline-container .timeline-icon i {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.timeline .timeline-container .timeline-icon img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.timeline .timeline-container .timeline-body {
    background: #27293d;
    border-radius: 3px;
    padding: 20px 20px 15px;
    box-shadow: 1px 3px 9px rgba(0, 0, 0, .1);
    position: relative;
}
.timeline .timeline-container .timeline-body:before {
    content: '';
    background: inherit;
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    left: -10px;
    transform: rotate(45deg);
    border-radius: 0 0 0 2px;
}
.timeline .timeline-container .timeline-body .timeline-title {
    margin-bottom: 1.4rem;
}
.timeline .timeline-container .timeline-body .timeline-title .badge {
    background: #4f537b;
    padding: 4px 8px;
    border-radius: 3px;
    font-size: 12px;
    font-weight: bold;
}
.timeline .timeline-container .timeline-body .timeline-subtitle {
    font-weight: 300;
    font-style: italic;
    opacity: .4;
    margin-top: 16px;
    font-size: 11px;
}

/* Primary Timeline */
.timeline .timeline-container.primary .badge,
.timeline .timeline-container.primary .timeline-icon {
    background: var(--primary) !important;
}

/* Info Timeline */
.timeline .timeline-container.info .badge,
.timeline .timeline-container.info .timeline-icon {
    background: var(--info) !important;
}

/* Success Timeline */
.timeline .timeline-container.success .badge,
.timeline .timeline-container.success .timeline-icon {
    background: var(--success) !important;
}

/* Warning Timeline */
.timeline .timeline-container.warning .badge,
.timeline .timeline-container.warning .timeline-icon {
    background: var(--warning) !important;
}

/* Danger Timeline */
.timeline .timeline-container.danger .badge,
.timeline .timeline-container.danger .timeline-icon {
    background: var(--danger) !important;
}

.author {
    font-family: inherit;
    padding: 3em;
    text-align: center;
    width: 100%;
    color: white;
}
.author a:link,
.author a:visited {
    color: white;
}
.author a:link:hover,
.author a:visited:hover {
    text-decoration: none;
}
.author .btn:link,
.author .btn:visited {
    margin-top: 1em;
    text-decoration: none;
    display: inline-block;
    font-family: inherit;
    font-weight: 100;
    color: white;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: black;
    padding: 1.5em 2rem;
    border-radius: 1em;
    transition: .5s all;
}
.author .btn:link:hover,
.author .btn:visited:hover,
.author .btn:link:focus,
.author .btn:visited:focus,
.author .btn:link:active,
.author .btn:visited:active {
    background-color: #1a1a1a;
}

/* Styles généraux pour les petits écrans */
@media (max-width: 600px) {
    .container {
        width: 90%;
        margin: 20px auto;
        text-align: center;
    }

    .main-container {
        flex-direction: column;
        align-items: center;
    }

    h1 {
        font-size: 28px;
        margin-bottom: 20px;
    }

    h2 {
        font-size: 20px;
        margin-bottom: 15px;
    }

    input[type="text"] {
        width: 80%;
        padding: 8px;
        margin-bottom: 15px;
    }

    button {
        width: 80%;
        padding: 10px;
    }

    .timeline-container {
        width: 100%;
    }

    .timeline:before {
        left: -1.2%;
    }

    .timeline .timeline-container .timeline-icon {
        left: -68px;
    }

    .timeline .timeline-container .timeline-body {
        padding: 15px;
    }

    .timeline .timeline-container .timeline-body:before {
        left: -8px;
    }
}

.gallery {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    padding: 5px;
    justify-items: center;
}

.gallery img {
    width: 100%;
    height: auto;
    cursor: pointer;
    transition: transform 0.3s;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
}

.overlay img {
    max-width: 90%;
    max-height: 80%;
    margin-bottom: 20px;
}

.overlay-text {
    color: white;
    font-size: 1.5rem;
    text-align: center;
}

.overlay.show {
    opacity: 1;
    visibility: visible;
}